page-hospital-detail {
  #hospitals ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      color: #f63;
      font-size: 14px;
    }

    .list-ios .item-block .item-inner {
      border-bottom: none;
    }
  }

  #hospitalInfo {
    .item-inner {
      border-bottom: none;
    }

    ion-icon {
      color: #ccc;
      font-size: 24px;
      width: 15px;
    }

    .label-ios {
      margin: 0;
    }

    ion-col {
      padding: 0;
      height: 52.797px;
      line-height: 52.797px;
      text-align: center;
      border-right: 1px solid #c8c7cc;
    }

    ion-col:last-child {
      border-right: none;
    }
  }

  #hospitalFunc {
    .item-inner {
      padding-right: 0;
    }

    .button-ios {
      padding: 0;
    }
  }

  #hospitalService {
    ion-icon[name=arrow-forward] {
      color: #ccc;
    }
  }
}
