page-home {
  .toolbar-title {
    color: $common-color;
  }

  .toolbar-background {
    background-color: $header-background-color;
    border: none;
  }

  .swiper-container-horizontal > .swiper-pagination{
    bottom: 10px;
  }

  #hospitals ul {
      padding:0px;
      margin:0px;
      li{
          padding: 0px;
          color:#f63;
          font-size:18px;
      }
  }

}
