<ion-header>
  <ion-navbar>
    <ion-title>
      <img src='assets/images/header.png' style="height:32px" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id='ad-main'>
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src='assets/images/ad01.png' /></div>
        <div class="swiper-slide"><img src='assets/images/ad02.png' /></div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <ion-grid style="padding: 0">
    <ion-row style="border-bottom: 1px solid #D3D3D3">
      <ion-col width-25 style="border-right: 1px solid #D3D3D3">
        <button clear block style="padding:0; line-height:0">
          <img src='assets/images/办事256.png' style='width:100%' />
        </button>
      </ion-col>
      <ion-col width-25 style="border-right: 1px solid #D3D3D3">
        <button clear block (click)="goHospital()" style="padding:0; line-height:0">
          <img src='assets/images/医院256.png' style='width:100%' />
        </button>
      </ion-col>
      <ion-col width-25 style="border-right: 1px solid #D3D3D3">
        <button clear block style="padding:0; line-height:0">
          <img src='assets/images/医生256.png' style='width:100%' />
        </button>
      </ion-col>
      <ion-col width-25>
        <button clear block style="padding:0; line-height:0">
          <img src='assets/images/产检256.png' style='width:100%' />
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-25 style="border-right: 1px solid #D3D3D3">
        <button clear block style="padding:0; line-height:0">
          <img src='assets/images/育儿256.png' style='width:100%; height:100%' />
        </button>
      </ion-col>
      <ion-col width-25 style="border-right: 1px solid #D3D3D3">
        <button clear block style="padding:0; line-height:0">
          <img src='assets/images/特色医疗256.png' style='width:100%' />
        </button>
      </ion-col>
      <ion-col width-25 style="border-right: 1px solid #D3D3D3">
        <button clear block style="padding:0; line-height:0">
          <img src='assets/images/申领礼包256.png' style='width:100%' />
        </button>
      </ion-col>
      <ion-col width-25>
        <button clear block  style="padding:0; line-height:0">
          <img src='assets/images/签到256.png' style='width:100%' />
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="hospitals" *ngIf="hospitals.length > 0">
    <ion-list>
      <ion-list-header style='background-color: #D3D3D3;'>
        <div style="font-size:16px;">热门产院</div>
        <div item-right style="font-size:16px;font-weight:900;" (click)="goHospital()"><button ion-button clear block>更多<ion-icon name="more"></ion-icon></button></div>
      </ion-list-header>
      <ion-item *ngFor="let h of hospitals">
        <ion-thumbnail item-left>
          <img [src]="'data:image/png;base64,'+h.logo">
        </ion-thumbnail>
        <div style='display:flex;flex-direction:column;justify-content:space-between'>
          <h3>{{h.name}}</h3>
          <div>
            <div style="float:left;width:50%;">
              <rating [ngModel]="converter.getRate(h.score)" readOnly="true"></rating>
            </div>
            <h4 style="float:right;height:20px;line-height:20px;">等级：{{h.level}}</h4>
          </div>
          <div style="color:#D3D3D3">
            <h4>{{h.district}}</h4>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div>
    <ion-list>
      <ion-list-header style='background-color: #D3D3D3'>
        办事攻略
      </ion-list-header>
      <ion-item>Terminator II</ion-item>
      <ion-item>The Empire Strikes Back</ion-item>
      <ion-item>Blade Runner</ion-item>
    </ion-list>
  </div>
</ion-content>
