page-home {
  .toolbar-title {
    color: $common-color;
  }

  .toolbar-background {
    background-color: $header-background-color;
    border: none;
  }

  .swiper-container-horizontal > .swiper-pagination{
    bottom: 10px;
  }
}
