page-change-password {
  $labelWidth : 50px;
  ion-label[fixed]{
    width: $labelWidth;
    min-width: $labelWidth;
    max-width: $labelWidth;
  }
  .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input{
    margin-left: 0px;
  }
  .input-ios {
    .text-input{
      padding-right: 0px;
    }
  }
  .text-input-ios{
    margin: 12px 0px 13px;
  }
}
