page-hospital-gallery {
  #hospital-gallery{
    column-count: 2;

    .box{
      position:relative;
      -webkit-column-break-inside:avoid;
      column-break-inside:avoid;
      padding-bottom: 10px;

      img{
        max-width: none;
        width: 100%;
      }

      .hospitalImage-desc{
        position: absolute;
        width: 100%;
        background-color:rgba(0, 0, 0, 0.3);
        bottom: 12px;
        text-align: center;
        color: white;
      }
    }
  }
}
