<ion-header>

  <ion-navbar>
    <ion-title>医务服务/设施</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
  <ion-segment [(ngModel)]="termList" color='common'>
    <ion-segment-button value="yTerm">
      医护服务项目
    </ion-segment-button>
    <ion-segment-button value="cTerm">
      重点产检项目
    </ion-segment-button>
  </ion-segment>
</div>
  <div [ngSwitch]="termList">
    <ion-grid width="100%" *ngSwitchCase="'yTerm'">
      <ion-row>
      </ion-row>
      <ion-row ion-item *ngFor="let y of yList">
        <ion-col style="font-size:18px">
          <ion-icon name="checkmark-circle" style="color:#40cc92;padding-right:20px" *ngIf="y.isHas==true"></ion-icon>
          <ion-icon name="close-circle" style="color:#ff9aa0;padding-right:20px" *ngIf="y.isHas==false"></ion-icon>
          {{y.name}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid width="100%" *ngSwitchCase="'cTerm'">
      <ion-row>
      </ion-row>
      <ion-row ion-item *ngFor="let c of cList">
        <ion-col style="font-size:18px">
          <ion-icon name="checkmark-circle" style="color:#40cc92;padding-right:20px" *ngIf="c.isHas==true"></ion-icon>
          <ion-icon name="close-circle" style="color:#ff9aa0;padding-right:20px" *ngIf="c.isHas==false"></ion-icon>
          {{c.name}}
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
</ion-content>
