page-hospital-list {
    #hospitals ul {
        padding:0px;
        margin:0px;
        li{
            padding: 0px;
            color:#f63;
            font-size:18px;
        }
    }

    #searchHeader {
    display: flex;

    div {
      flex-grow: 1;
      text-align: center;
      border-left: 1px solid #ccc;
      vertical-align: middle;
    }

    div:first-child {
      border-left: none;
    }

    ion-icon {
      margin-left: 5px;
    }
  }
}
