<!--
  Generated template for the HospitalList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>产院列表</ion-title>
  </ion-navbar>

  <ion-searchbar [(ngModel)]="searchKey" [showCancelButton]="true" [cancelButtonText]="'取消'" [placeholder]="'医院名称'" (ionCancel)="onCancel($event)" (search)="onSearch($event)">
  </ion-searchbar>

  <ion-toolbar>
    <ion-row>
      <ion-col width-50 style="border-right:1px solid #ccc;margin:0px;padding:0px">
        <button small style='margin:0px' (click)="showArea($event)" ion-button clear block>
              {{areaName}}
              <i class="fa fa-angle-down" id='iconArea' aria-hidden="true"></i>
            </button>
      </ion-col>
      <ion-col width-50 style='margin:0px;padding:0px'>
        <button style='margin:0px' small (click)="showLevel($event)" ion-button clear block>
              {{levelName}}
            <i class="fa fa-angle-down" id='iconLevel' aria-hidden="true"></i>
            </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="hospitals" *ngIf="hospitals.length > 0">
    <ion-list>
      <button ion-item *ngFor="let h of hospitals" (click)="goHospitalDetail(h)">
        <ion-thumbnail item-left>
          <img [src]="'data:image/png;base64,'+h.logo">
        </ion-thumbnail>
        <div style='display:flex;flex-direction:column;justify-content:space-between'>
            <h3>{{h.name}}</h3>
            <div>
              <div style="float:left;width:50%;">
                <rating [ngModel]="this.converter.getRate(h.score)" readOnly="true"></rating>
              </div>
              <h4 style="float:right;height:20px;line-height:20px;">{{h.level}}</h4>
            </div>
            <div style="color:#ccc">
              <h4>{{h.district}}</h4>
            </div>
        </div>
      </button>
    </ion-list>
  </div>

</ion-content>
